* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.half-width {
    width: 40vw;        
    height: 100vh;
    object-fit: cover;
}

/* Tablet View */
@media (max-width: 1024px) {
    .half-width {
        width: 50vw;
        height: 90vh;
    }
}

/* Mobile View */
@media (max-width: 768px) {
    .half-width {
        width: 100%;
        height: 80vh; /* Ensures image stays large */
        object-fit: cover;
    }
}

/* Small Mobile Screens */
@media (max-width: 480px) {
    .half-width {
        
        padding-top:25px;
        width: 150px;
        height: 75vh; /* Keeps image recognizable */
        object-fit: cover;
    }
}  
#skills .row {
    display: flex;
    justify-content: center;
  }
  
.box,.prjct{
    
    background-color:#bbdefb;
    margin:20px;
    border-radius: 20px;
    border: 1px solid  #b0d4ef ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

   
}
.prjct{
    width:auto;
    height: auto;
    
     
}
.prjct:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    
}
#navBar {
    padding: 0;
   
}
#nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
}
#nav .nav-link:hover {
    color: #bbdefb;
    
}
#nav .nav-link.fab:hover{
    color: #626666;
}

#cont{
    width:90%;
    max-width:500px;
    border:2px solid #b0d4ef;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding:20px;
    margin:auto
}

#typ{
    width:auto;
}
#btn{
    background-color:#1e88e5;
    color:white;
    transition: background-color 0.3s ease;
}
#btn:hover{
    background-color:#9ec6e9;
}
.image{
    width:300px;
    height:200px;
    object-fit: cover;
    border-radius: 8px;
}

